/* Global Reset */
html body {
  margin: 0px;
  padding: 0px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 70px;
  background-color: yellow;
  margin: 0;
}

.navlinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
}

.navlink {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  padding: 5%;
  color: white;
  background-color: black;
}

.navlink div {
  height: 100%;
  width: 100%;
  text-align: center;
}

.navlink:hover {
  background-color: gray;
}

.logo-container {
  align-self: center;
}

.logo {
  width: 70%;
}

/* Banner */

.banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  background-color: lightcoral;
  margin: 0;
}

/* Greeting */

#greeting {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-container img {
  width: 100%;
  object-fit: cover;
}

.greeting {
  padding: 20px;
  background-color: white;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#imageToggler {
  background-color: yellow;
  height: 3em;
  width: 60%;
  align-self: center;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#instruction {
  background-color: lightgreen;
  visibility: hidden;
  width: 60%;
  align-self: center;
  border-radius: 5px;
  height: 3em;
  margin: 5px;
  padding: 5px;
}

/* Projects */

#projects {
  background-color: yellow;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectInstruction {
  background-color: lightgreen;
  padding: 2rem;
  margin-top: 3rem;
}

.project-container {
  background-color: lightgrey;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.project-card {
  flex: 0 1 30%;
  margin: 15px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.project-card img {
  max-width: 100%;
  min-width: 200px;
  height: 250px;
  overflow: hidden;
}

.card-text {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-content: end;
  height: 1.5em;
  justify-self: end;
}

.btn-container a {
  text-decoration: none;
  color: black;
}

.github-btn {
  display: none;
  margin: 0.5rem;
  cursor: pointer;
}

/* About Me */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background-color: lightcoral;
}

#about img {
  width: 300px;
  border: solid 3px black;
}

.about-blurb {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  align-content: center;
  font-size: 1.2rem;
  background-color: white;
  padding: 2rem;
  border: dotted 3px black;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  padding: 2rem;
  border: dotted 3px black;
}

#contact input {
  font-size: 1.1rem;
}

#contact button {
  cursor: pointer;
  font-size: 1.1rem;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

footer a {
  color: white;
}

/* Media Queries */
@media (max-width: 900px) {
  #greeting {
    flex-direction: column;
    justify-content: center;
  }
  .img-container {
    width: 100%;
    height: 250px;
  }

  .greeting {
    width: 80%;
  }

  #imageToggler {
    width: 100%;
  }

  #instruction {
    width: 100%;
  }

  .project-card {
    flex: 0 1 60%;
  }

  .project-card img {
    height: auto;
    overflow: inherit;
  }

  #about img {
    width: 200px;
  }

  .about-blurb {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .about-img-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media (max-width: 470px) {
  .logo {
    width: 80%;
  }

  .navlinks {
    font-size: 0.7rem;
  }

  .img-container {
    width: 100%;
  }
  .greeting {
    width: 100%;
  }

  #imageToggler {
    width: 100%;
  }

  #instruction {
    width: 100%;
  }

  .project-card {
    width: 90%;
  }

  #about {
    padding: 0.5rem;
  }

  .about-blurb {
    width: 90%;
    padding: 1rem;
  }

  #about img {
    width: 100%;
  }
}
